<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="userName" placeholder="请输入用户名"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input type="password" formControlName="password" placeholder="请输入密码"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>昵称</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="nickName" placeholder="请输入昵称"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">手机</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="mobile" placeholder="请输入手机号"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">邮箱</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="email" placeholder="请输入邮箱" type="email"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">QQ</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="qq" placeholder="请输入QQ号"/>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">取消</button>
  <button nz-button nzType="primary" (click)="onConfirm()">确认</button>
</div>
